{% extends 'base.html' %}
{% load static%}
{% block title %}About - Portfolio{% endblock %}

{% block content %}
<!-- About Section -->
<section id="about">
    <h1 class="t-center my-2 t-white f-2 about-title">About Me</h1>
    <div class="about-container flex s-around ">
        <div class=" about-left flex s-center items-center">
            <!-- Here in src replade the given link with your secondary image link -->
            <img src="{%static 'images/dev.jpg'%}" alt="" style="width: 60%;">
        </div>

        <div class="about-right flex">
            <div class="about-content">
                <h1 class="t-white m-b-1 poppins">Brayan Villa</h1>
                <p class="t-white m-b-1 poppins">
                    My name is Brayan Villa, a Software Engineering student with a background in Mechanical Engineering. I have a strong passion for backend development, where I enjoy creating logical and efficient solutions to complex problems. I find great satisfaction in using code to bring ideas to life through well-structured systems. Beyond my technical skills, I’m known for my strong soft skills, including effective communication, critical thinking, leadership, and time management. I'm always eager to grow both personally and professionally, approaching every project with dedication and a problem-solving mindset.
                </p>
                <a class="btn" id="hireme" href="{% url 'contact' %}">Hire Me</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}