{% extends 'base.html' %}
{% load static%}
{% block title %}Contact - Portfolio{% endblock %}

{% block content %}
<!--Contact Me Section-->
<section id="Contact" class="m-b-1">
    <h1 class=" t-center my-2 t-white f-2 contact-title">Contact Me</h1>
    <div class="contact-container flex s-around items-centers">
        <div class="form" id="contactForm">
            <form method="post" > 
                {% csrf_token %}
                <div class="name form-div">
                    <input type="text" name="name" id="name" class="poppins" placeholder="Enter Your Name">
                </div>
  
                <div class="email form-div">
                    <input type="email" name="email" id="" class="poppins" placeholder="Enter Your Email"
                        required>
                </div>
  
                <div class="phone form-div">
                    <input type="phone" name="number" id="" class="poppins" placeholder="Enter Your Phone"
                        required>
                </div>
                
                <div class="textarea form-div">
                  <textarea name="content" id="textarea" cols="30" rows="10" class="poppins"
                  placeholder="Enter Messages"></textarea>
          </div>
          <button type="submit" class="btn poppins" id="submit">Send</button>
      </form>
  </div>
  </div>
  </section>
{% endblock %}



