{% extends "productos/product_base.html" %}
{% load static %}
{% block content %}
  <main class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 mt-5">
        <h1 class="text-center mb-4">Orders</h1>
        <form method="get" action="">
          {% csrf_token %}

          <!-- Título de la sección de filtros -->
          <div class="text-center mb-4">
            <h2>Filtrar Órdenes</h2>
          </div>

          <!-- Contenedor de los filtros -->
          <ul class="list-unstyled">
            <!-- Filtro por estado -->
            <li class="mb-3">
              <div class="form-group">
                <label for="{{ form.status.id_for_label }}">Estado</label>
                {{ form.status }}
              </div>
            </li>

            <!-- Filtro por cliente -->
            <li class="mb-3">
              <div class="form-group">
                <label for="{{ form.customer.id_for_label }}">Cliente</label>
                {{ form.customer }}
              </div>
            </li>

            <!-- Filtro por fecha de creación -->
            <li class="mb-3">
              <div class="form-group">
                <label for="{{ form.date_created.id_for_label }}">Fecha de Creación</label>
                {{ form.date_created }}
              </div>
            </li>

            <!-- Botón de filtro -->
            <li class="text-center">
              <button type="submit" class="btn btn-primary">Filtrar</button>
            </li>
          </ul>
        </form>
        {% for order in orders %}
          <div class="card mb-4 shadow-lg">
            <div class="row g-0 align-items-center p-3">
              <!-- Columna de información de la orden -->
              <div class="col-md-4">
                <div class="card-body">
                  <p class="card-text">
                    <strong>Cliente:</strong> {{ order.customer.name }}
                  </p>
                  <p class="card-text">
                    <strong>Producto:</strong> {{ order.product.name }}
                  </p>
                  <p class="card-text">
                    <strong>Fecha:</strong> {{ order.date_created }}
                  </p>
                  <p class="card-text">
                    <strong>Método de pago:</strong> {{ order.payment_method }}
                  </p>
                  <p class="card-text">
                    <strong>Dirección:</strong> {{ order.address }}
                  </p>
                  <p class="card-text">
                    <strong>Celular:</strong> {{ order.phone }}
                  </p>
                  <p class="card-text">
                    <strong>Estado:</strong>
                    <span class="badge 
                      {% if order.status == 'completado' %}
                        
                        
                        
                        
                        
                        
                        
                        bg-success








                      {% elif order.status == 'en_proceso' %}
                        
                        
                        
                        
                        
                        
                        
                        bg-warning








                      {% elif order.status == 'pendiente' %}
                        
                        
                        
                        
                        
                        
                        
                        bg-primary








                      {% else %}
                        
                        
                        
                        
                        
                        
                        
                        bg-danger







                      {% endif %}">
                      {{ order.get_status_display }}
                    </span>
                  </p>
                </div>
              </div>

              <!-- Columna de imagen -->
              <div class="col-md-8 text-center">
                <a href="{% url 'products:order_detail' order.id %}"><img src="{% static 'productos/images/user.png' %}" alt="Usuario" class="img-fluid rounded-circle" width="200" height="200" /></a>
              </div>
            </div>
          </div>
        {% empty %}
          <p class="text-center">No hay órdenes disponibles.</p>
        {% endfor %}
        {% if form.errors %}
          <ul class="errors">
            {% for field in form %}
              {% for error in field.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  </main>
{% endblock %}
